.banner {
    width: 100%;
    height: 500px; /* ajuste conforme necessário */
    background-image: url('../images/bannerHome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
