.banner {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-attachment: fixed;
  }

  .banner-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: top;
  }

  .banner-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(9, 32, 76, 0.9) 100%);
    pointer-events: none;
  }
